@import "_reset.scss";
@import "_commonStyle.scss";

html {
    touch-action: manipulation;

    body {
        font-family: "Microsoft JhengHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
        touch-action: manipulation;
        overflow-x: hidden;
        h1 {
            color: hsl(0, 100%, 50%);
        }
    }
}

$sample: 10;

.do_if {
    display: flex;
    @if $sample > 8 {
        font-size: 1rem;
    }
    @if $sample >= 10 {
        font-size: 2rem;
    }
    @if $sample ==11 {
        font-size: 3rem;
    } @else {
        font-size: 10rem;
    }
}

.for_loop {
    display: flex;
    flex-direction: row;
    font-size: 3rem;
    span {
        @for $i from 0 through 2 {
            label {
                font-size: 3rem;
                &:nth-child(#{$i+1}) {
                    @if $i == 1{
                      background: #f90;
                      color: #fff;
                    }
                    &:after {
                        content: "#{$i}";
                        margin: 0 0.5rem;
                    }
                }
            }
        }
    }
}

@function setPadding($topBottom, $leftRight){
  $conbine: #{$topBottom * 1rem + ' ' + $leftRight * 1rem};
  @return $conbine;
}

.function{
  @include flexBox(column);
  @include flexAlign(center, flex-start);
  background-color: #bbb;
  padding: setPaddin(2, 1); // 單位:rem
}